<?xml version="1.0"?>
<config>
    <modules>
        <Creare_Customcontacts>
            <version>0.1.0</version>
        </Creare_Customcontacts>
    </modules>
    <frontend>
        <routers>
            <customcontacts>
                <use>standard</use>
                <args>
                    <module>Creare_Customcontacts</module>
                    <frontName>custom-contact</frontName>
                </args>
            </customcontacts>
        </routers>
        <layout>
            <updates>
                <customcontacts>
                    <file>customcontacts.xml</file>
                </customcontacts>
            </updates>
        </layout>
    </frontend>
    <global>
        <resources>
            <customcontacts_setup>
                <setup>
                    <module>Creare_Customcontacts</module>
                </setup>
            </customcontacts_setup>
        </resources>
		<helpers>
			<customcontacts>
				<class>Creare_Customcontacts_Helper</class>
			</customcontacts>
		</helpers>
		<template>
            <email>
                <contacts_customemail_email_template translate="label">
                    <label>Contacts</label>
                    <file>contact_form.html</file>
                    <type>text</type>
                </contacts_customemail_email_template>
            </email>
        </template>
    </global>
    <default>
        <contacts>
            <customcontacts>
                <enabled>1</enabled>
            </customcontacts>
            <customemail>
                <recipient_email><![CDATA[hello@example.com]]></recipient_email>
                <sender_email_identity>custom2</sender_email_identity>
                <email_template>contacts_customemail_email_template</email_template>
            </customemail>
        </contacts>
    </default>
</config>
