<?xml version="1.0"?>
<config>
    <modules>
        <Lemonline_Supportcontacts>
            <version>0.1.0</version>
        </Lemonline_Supportcontacts>
    </modules>
    <frontend>
        <routers>
            <supportcontacts>
                <use>standard</use>
                <args>
                    <module>Lemonline_Supportcontacts</module>
                    <frontName>support-contact</frontName>
                </args>
            </supportcontacts>
        </routers>
        <layout>
            <updates>
                <supportcontacts>
                    <file>supportcontacts.xml</file>
                </supportcontacts>
            </updates>
        </layout>
    </frontend>
    <global>
        <resources>
            <supportcontacts_setup>
                <setup>
                    <module>Lemonline_Supportcontacts</module>
                </setup>
            </supportcontacts_setup>
        </resources>
		<helpers>
			<supportcontacts>
				<class>Lemonline_Supportcontacts_Helper</class>
			</supportcontacts>
		</helpers>
		<template>
            <email>
                <contacts_supportemail_email_template translate="label">
                    <label>Contacts</label>
                    <file>contact_form.html</file>
                    <type>text</type>
                </contacts_supportemail_email_template>
            </email>
        </template>
    </global>
    <default>
        <contacts>
            <supportcontacts>
                <enabled>1</enabled>
            </supportcontacts>
            <supportemail>
                <recipient_email><![CDATA[hello@example.com]]></recipient_email>
                <sender_email_identity>custom2</sender_email_identity>
                <email_template>contacts_supportemail_email_template</email_template>
            </supportemail>
        </contacts>
    </default>
</config>
