<?xml version="1.0"?>
<config>
    <modules>
        <Lemonline_Salescontacts>
            <version>0.1.0</version>
        </Lemonline_Salescontacts>
    </modules>
    <frontend>
        <routers>
            <salescontacts>
                <use>standard</use>
                <args>
                    <module>Lemonline_Salescontacts</module>
                    <frontName>sales-contact</frontName>
                </args>
            </salescontacts>
        </routers>
        <layout>
            <updates>
                <salescontacts>
                    <file>salescontacts.xml</file>
                </salescontacts>
            </updates>
        </layout>
    </frontend>
    <global>
        <resources>
            <salescontacts_setup>
                <setup>
                    <module>Lemonline_Salescontacts</module>
                </setup>
            </salescontacts_setup>
        </resources>
		<helpers>
			<salescontacts>
				<class>Lemonline_Salescontacts_Helper</class>
			</salescontacts>
		</helpers>
		<template>
            <email>
                <contacts_salesemail_email_template translate="label">
                    <label>Contacts</label>
                    <file>contact_form.html</file>
                    <type>text</type>
                </contacts_salesemail_email_template>
            </email>
        </template>
    </global>
    <default>
        <contacts>
            <salescontacts>
                <enabled>1</enabled>
            </salescontacts>
            <salesemail>
                <recipient_email><![CDATA[hello@example.com]]></recipient_email>
                <sender_email_identity>custom2</sender_email_identity>
                <email_template>contacts_salesemail_email_template</email_template>
            </salesemail>
        </contacts>
    </default>
</config>
